body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000000;
  user-select: none;
}

.otsikko{
  font-size: 75px;
  margin-left: -175px;
  margin-bottom: 100px;
  color: #ffffff;
  font-family: 'Games', sans-serif;
  text-align: center;
 }

.menuButton {
  width: 380px;
  height: 86px;
  font-size: 45px;
  font-family: 'Games', sans-serif;           
  background: linear-gradient(transparent 50%, #FF013C 5%);
  border: 1;
  border-color: #000000;
  color: rgb(255, 255, 255);
  letter-spacing: 5px;
  line-height: 88px;
  outline: transparent;
  position: relative;
  justify-content: center;
}
.backButton {
  font-size: 40px;
  font-family: 'Games', sans-serif;           
  background: linear-gradient(transparent 70%, #FF013C 5%);
  border: 1;
  border-color: #FF013C;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  letter-spacing: 8px;
  line-height: 45px;
  outline: transparent;
  position: relative;
  margin-top: 30px;
}


.HowTo {
  font-size: 20px;
  font-family: 'Games', sans-serif;           
  border: 1;
  border-color: #000000;
  color: rgb(255, 255, 255);
  letter-spacing: 5px;
  text-align: center;
}
.GameScreens {
  font-size: 40px;
  font-family: 'Games', sans-serif;           
  border: 1;
  border-color: #000000;
  color: rgb(255, 255, 255);
  letter-spacing: 5px;
  text-align: center;
  
}

.nimet, h2 {
  color: #ffffff;
  letter-spacing: 5px;
  text-align: center;
}



.Juuso {
  color: gold;
}

#gameContainer {
  display: block;
  margin: auto;
  height: 100vh;
  width: 100vw;
}


#gameCanvas {
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}
